{{#extend 'page_styles'}}{{/extend}}

<div id="ct" style="margin: 0 10px;"></div>

{{#extend 'page_scripts'}}
<script type="text/javascript">
    seajs.use("detail/detail_content");
</script>
{{/extend}}
